.speech{
    font-family:'Courier New', Courier, monospace;
    color:black;

}
.song{
    font-family:'Times New Roman', Times, serif;
    color:black;
}
.direction{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-color: aqua;
}
.direction:hover{
    color:darkblue;
    background-color: darkgray;
}
.name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
.zorah{
    color: blueviolet;
}
.hannah{
    color: brown;
}
.ruth{
    color: green;
}
.rose{
    color: red;
}
.robin{
    color: rebeccapurple;
}
.adam{
    color: saddlebrown;
}
.chorus{
    text-transform: capitalize;
}
.all{
    letter-spacing: 7px;
}
.both{
    text-shadow: 2px 2px greenyellow;
}
table, th, td{
    border: solid 3px firebrick;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even){
    background-color:darkcyan;
}
th, td{
    margin: 3px;
    padding: 5px;
}